
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.contenido-header img {
    max-width: 50px;
    animation: bounceInLeft;
    animation-duration: 1s;
}
#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#inicio .contenido header {
    box-shadow: 0 0 20px black;
    background-color: #fefeff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#inicio .contenido header .contenido-header nav ul li a {
    color: #2c4836;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 400;
    transition: .5s;
}
#inicio .contenido header .contenido-header nav ul li a:hover {
    animation: flash;
    animation-duration: 1s;
}
#inicio .contenido header .contenido-header .redes a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .5s;
    color: #2c4836;
    margin-left: 10px;
}
#inicio .contenido header .contenido-header .redes a i {
    animation: backInRight;
    animation-duration: 3s;
}
#inicio .contenido header .contenido-header .redes a:hover {
    animation: flash;
    animation-duration: 1s;
}
.item1 {
    animation-delay: .2s;
}
.item2 {
    animation-delay: .5s;
}
.item3 {
    animation-delay: .8s;
}
.item4 {
    animation-delay: 1.1s;
}
/*INICIO*/
#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion h3 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #c41d1c;
    letter-spacing: 7px;
    text-shadow: 1px 1px 0 white;
    animation: backInUp;
    animation-duration: 1s;
}
#inicio .contenido .presentacion p {
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin: 5px auto;
    animation: bounceInRight;
    animation-duration: 1.3s;
}
#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 12px 25px ;
    border: 2px solid #fefeff;
    border-radius: 50px;
    color: #fefeff;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover {
    background-color: #c41d1c;
}
#icono-nav {
    color: #2c4836;
    font-size: 1.6rem;
    display: none;
}
/*SUCURSALES*/
#sucursales {
    max-width: 1100px;
    margin: auto;
    padding-top: 4.5rem;
}
#sucursales h3 {
    font-size: 3rem;
    color: #2c4836;
    text-align: center;
    text-shadow: 2px 2px 1px #a3b18a;
    margin-bottom: .1rem;
}
.contenedor-sucursales {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cartita {
    position: relative;
    width:  400px;
    height: 450px;
    margin: 25px;
}
.cartita .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transform: .5s;
}
.cartita .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.cartita .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartita .front h4 {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #e5e5eb;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}
.cartita .back h4 {
    color: #c41d1c;
    padding-top: 25px;
    font-size: 2rem;
}
.cartita .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(to top, transparent -50%, #2c4836);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.cartita .back p {
    color: #fefeff;
    text-transform: uppercase;
}
.link {
    border-top: 1px solid white;
    height: 50px;
    line-height: 50px;
}
.link a {
    color:red;
    text-decoration: none;
    text-transform: uppercase;
}
.cartita:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.cartita:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*PRODUCTOS*/
#productos {
    max-width: 1100px;
    margin: auto;
    background-color: #fefeff;
    padding: 4.5rem;
}
#productos h3 {
    font-size: 3rem;
    color: #2c4836;margin-bottom: 3rem;
    text-align: center;
    text-shadow: 2px 2px 1px #a3b18a;
    margin-bottom: 1.3rem;
}
.card {
    transition: all .1s; 
}
.card:hover {
    transform: scale(1) translateY(-12px); 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} 
.oscurecer {
    filter: brightness(50%);
}
.card .p_produ {
    color: white;
    text-align: center;
    font-size: 3rem;
}
.boton-volver {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-volver a {
    text-decoration: none;
    color: #a3b18a;
    font-size: 1.5rem;
    transition: .5s;
}
.boton-volver a:hover {
    animation: flash;
    animation-duration: 1s;
}
.title_productos {
    font-size: 2.7rem;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 2px 2px 1px #a3b18a;
}
/*CARRITO*/
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 2rem;
}
.img_productos {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.contenedor > div {
    transition: all 0.1s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.75);
    background-color: #fefeff;
    border-radius: 20px;
}
.contenedor > div:hover {
    transform: scale(1) translateY(-12px);
}
.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor .informacion h2 {
    color: #c41d1c;
    text-align: center;
}
.contenedor .informacion p {
    font-size: 1.4rem;
    text-align: center;
}
.contenedor .informacion button {
    background-color: #2c4836;
    color: #fefeff;
    padding: .4rem;
    border-radius: 10px;
    margin-bottom: 15px;
    border: #fefeff;
}
.contenedor .informacion button:hover {
    background-color: #fefeff;
    color: #2c4836;
    transition: 1s;
    font-weight: bold;
    border: .3px solid #2c4836;
}
/*CONTACTO*/
#contacto {
    padding-top: 4.5rem;
}
#contacto h3 {
    font-size: 3rem;
    color: #2c4836;
    text-align: center;
    text-shadow: 2px 2px 1px #a3b18a;
    margin-bottom: 0;
}
.contain-contacto {
    max-width: 500px;
    margin: auto;
}
.formulario form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    background-color: transparent;
    width: 100%;
    padding: 12px 0;
    margin: 10px;
    border: .5px solid #a3b18a;
    text-align: center;
    color: #2c4836;
    outline: none;
    font-family: "Montserrat", sans-serif;
}
.bot {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}
.boton {
    background-color: #2c4836;
    color: #e5e5eb;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
}
.boton:hover {
    background-color: #fefeff;
    color: #2c4836;
    transition: .8s;
}
/*FOOTER*/
footer {
    background-color: #2c4836;
    color: #fefeff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fefeff;
    color: #2c4836;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.5rem;
}
.redes-footer a {
    background-color: #fefeff;
    color: #2c4836;
    display: inline-block;
    border: 1px solid #fefeff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0 0;
    font-size: 1.4rem;
    transition: .3s;
}
.redes-footer a:hover {
    background-color: #2c4836;
    color: #fefeff;
}
/*RESPONSIVE*/
@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color:  #fefeff;
        width: 100%;
        position: absolute;
        top: 56px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido header .contenido-header nav ul li {
        animation: none;
    }
    #inicio .contenido .presentacion h3 {
        font-size: 3rem;
    }
    #inicio .contenido .presentacion p {
        font-size: 1.4rem;
    }
    #sucursales h3 {
        font-size: 2.7rem;
    }
    #sucursales .info {
        margin-top: 0;
        padding-top: 30px;
    }
    .contenedor-sucursales {
        background-color: #fefeff;
    }
    .contenedor-sucursales:hover {
        box-shadow: none;
        transform: none;
    }
    #productos h3 {
        font-size: 2.7rem;
    } 
    .card .p_produ {
        font-size: 2rem;
    }
} 
@media screen and (max-width: 480px) {
    #inicio .contenido .presentacion h3 {
        font-size: 2.2rem;
        letter-spacing: 0;
        text-align: center;
    }
    #inicio .contenido .presentacion p {
        font-size: 1rem;
        text-align: center;
    }
    #sucursales h3 {
        font-size: 2rem;
        color: #2c4836;
        text-align: center;
        text-shadow: 2px 2px 1px #a3b18a;
        margin-bottom: 0;
    }
    .cartita {
        margin: 10px;
    }
    #productos h3 {
        font-size: 2.2rem;
    } 
    #contacto {
        padding-top: 2rem;
    }
    #contacto h3 {
        font-size: 2rem;
    }
    .contain-contacto {
        max-width: 350px;
        margin: auto;
    }
    .formulario form {
        display: flex;
        flex-direction: column;
    }
    input, textarea {
        background-color: transparent;
        width: 100%;
        padding: 12px 0;
        margin: 10px;
        border: .5px solid #a3b18a;
        text-align: center;
        color: #2c4836;
        outline: none;
        font-family: "Montserrat", sans-serif;
    }
    .bot {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .boton {
        background-color: #2c4836;
        color: #e5e5eb;
        text-transform: uppercase;
        padding: 10px 20px;
        border: none;
    }
    .boton:hover {
        background-color: #fefeff;
        color: #2c4836;
        transition: .8s;
    }
    #contacto {
        padding-top: 6rem;
    }
}

    

